<!-- footer.component.html -->
<div class="layout-footer shadow-4">
    <div class="layout-footer-content">
        <div class="layout-footer-left">
            <div class="footer-copyright">
                <i class="pi pi-copyright"></i> 2026 UAB ASSURANCE. Tous droits réservés.
            </div>
        </div>

        <div class="layout-footer-right">
            <div class="footer-credit">
                Conception et développement par <strong>TRAORE FAYCAL</strong>
            </div>
        </div>
    </div>
</div>
