// change-password.component.scss
:host ::ng-deep {
  .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .p-password-panel {
    margin-top: 0.5rem;
  }
}

.security-rules {
  border: 1px solid #e9ecef;

  ul {
    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      i {
        font-size: 1rem;

        &.pi-check-circle {
          color: #4CAF50;
        }

        &.pi-circle {
          color: #ced4da;
        }
      }
    }
  }
}

.text-success {
  color: #4CAF50 !important;
}

.text-danger {
  color: #f44336 !important;
}
